.item-details-wrapper {
  width: 1200px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 60% 40%;
}
.notActive {
  opacity: 0.3;
  pointer-events: none;
}

.item-details {
  .grey,
  .green,
  .red {
    vertical-align: middle;
  }
  .grey {
    color: grey;
  }

  .green {
    color: rgb(20, 95, 20);
  }

  .red {
    color: rgb(129, 27, 27);
  }

  h4 {
    margin-top: 10px;
  }
  .priceTag {
    font-weight: 700;
    letter-spacing: 2px;
    margin: 10px 0;
  }
  .quantityContainer {
    &.notActive {
      opacity: 0.1;
    }

    margin-top: 15px;
    h4 {
      margin-bottom: 5px;
    }

    .sizeInput {
      border: 1px solid black;
      background-color: rgb(255, 255, 255);
      width: 30px;
      height: 30px;
      transition: 0.1s;
      cursor: pointer;

      &:active {
        transform: scale(0.9);
      }

      &:hover {
        background-color: rgba(237, 237, 237, 0.418);
      }

      &:disabled {
        opacity: 0.2;
      }
    }

    #sizeValue {
      height: 30px;
      border: none;
      width: 60px;
      text-align: center;
      outline: none;
      font-size: 20px;

      // for removing +/- arrows
      -webkit-appearance: none;
      margin: 0;
    }

    // Removes arrows from input type number
    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
      /* display: none; <- Crashes Chrome on hover */
      -webkit-appearance: none;
      margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
    }
  }

  .disabled {
    opacity: 0.3;
  }

  .availabilityDot {
    display: inline-block;
    vertical-align: middle;
  }

  select {
    width: 60px;
  }

  .addToCart {
    display: block;
    margin-top: 25px;
    font-size: 18px;
    border: none;
    outline: none;
    color: white;
    width: 300px;
    height: 60px;
    background-color: $red;
    cursor: pointer;
    transition: all 0.2s ease-in;
    &.deactivated {
      opacity: 0.5;
      cursor: default;
    }

    &:active {
      transform: scale(0.94);
    }
  }

  .link {
    display: block;
    margin-top: 20px;
    text-decoration: underline;
    cursor: pointer;
    transition: all 0.2s ease-in;

    i {
      position: absolute;
    }

    span {
      position: relative;
      left: 35px;
    }
  }

  i {
    font-size: 25px;
    margin-right: 15px;
    .favorite {
      color: $red;
    }
  }

  .item-desc {
    margin-top: 16px;
    font-size: 16px;
  }
}

.images-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-right: 150px;

  & {
    cursor: zoom-in;
  }

  & :first-child {
    width: 100%;
  }

  & :not(:first-child) {
    width: 50%;
  }
}
