.item-details-wrapper {
  width: 1000px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 70% 30%;
}

.item-details {
  .priceTag {
    font-weight: 700;
    letter-spacing: 2px;
    margin: 10px 0;
  }

  .availabilityDot {
    display: inline-block;
    vertical-align: middle;
  }

  .sizeTable {
    margin: 15px 0;
    width: 300px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    row-gap: 2px;
    column-gap: 2px;

    .sizeChunk {
      background-color: $grey;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 60px;
      height: 60px;
      cursor: pointer;
    }

    .deactivated {
      opacity: 0.5;
      cursor: default;
    }
  }

  .addToCart {
    display: block;
    margin-top: 25px;
    font-size: 18px;
    border: none;
    outline: none;
    color: white;
    width: 300px;
    height: 60px;
    background-color: $red;
    cursor: pointer;
  }

  .link {
    display: block;
    margin-top: 20px;
    text-decoration: underline;
    cursor: pointer;
  }

  i {
    font-size: 25px;
    margin-right: 15px;
    .message {
      transform: scale(-1, 1);
    }
    .favorite {
      color: $red;
    }
  }
}

.images-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-right: 150px;

  & :first-child {
    width: 100%;
  }

  & :not(:first-child) {
    width: 50%;
  }
}
