.items-list {
  display: grid;
  grid-template-columns: auto auto auto auto;
  row-gap: 50px;
  column-gap: 25px;
  max-width: 1300px;
  margin: 15px auto;
}

.items-title {
  width: 1300px;
  margin: 15px auto;
}

.item {
  width: auto;
  height: 340px;
  position: relative;
  padding: 10px;
  cursor: pointer;

  h5 {
    padding: 0 25px;
  }

  .item-desc {
    display: flex;
    flex-direction: row;
    font-weight: 600;
    padding: 0 25px;
    & .price {
      margin-left: auto;
    }
  }

  .favorite-icon {
    position: absolute;
    z-index: 11;
    font-size: 30px;
    top: 10px;
    right: 25px;
  }

  .sale {
    position: absolute;
    font-weight: 600;
    left: 10px;
    background-color: black;
    color: white;
    padding: 5px 10px;
  }

  .icon-active {
    color: $red;
  }

  .item-unavaiable {
    opacity: 0.6;
  }

  .item-unavaiable-text {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-size: 20px;
    color: white;
  }
  .item-unavaiable-text::before {
    content: "";
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 170px;
    height: 40px;
    background-color: black;
    border-radius: 6px;
    z-index: -1;
  }
}
